header {
  background-image: url('/public/header-background.png');
  background-repeat: no-repeat;
  background-position: right 100px center;
  img {
    height: 36px;
  }
}

.menuNav-btn {
  background: transparent !important;
}

.hero {
  background-image: url('/public/SouthAmerica_Web40.jpg');
  background-repeat: no-repeat;
  background-position: center 38%;
  background-size: cover;
  @if $hero == light {
  } @else {
    background-color: #378796;
  }
}
