.logotype a {
  background-image: url('/public/tom_lantos/minority-forum-logo-white.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 32px;
  width: 170px;
  text-indent: -9999px;
  overflow: hidden;
}

.footer-nav_item {
  height: 70px;
  line-height: 70px;
}

.footer-collection_name {
  width: 130px;
  background-image: url('/public/tom_lantos/tom_lantos_logo_grey_en.png');
  background-repeat: no-repeat;
  background-position: center 4px;
  background-size: 115px 65px;

  span {
    display: none;
  }
}
