header {
  background-image: url('/public/header-background.png');
  background-repeat: no-repeat;
  background-position: right 100px center;
  img {
    height: 36px;
  }
}

.menuNav-btn {
  background: transparent !important;
}

.hero {
  background-image: url('/public/hero.jpg');
  background-repeat: no-repeat;
  background-position: center 38%;
  background-size: cover;
  @if $hero == light {
  } @else {
    background-color: #9fc1cd;
  }
}

.footer-nav_item {
  height: 30px;
  line-height: 30px;
}

.footer-collection_name {
  width: 115px;
  background-image: url('/public/logo-cejil-gray.png');
  background-repeat: no-repeat;
  background-position: center 4px;
  background-size: 85px 25px;

  span {
    display: none;
  }
}
