#app {
  overflow-x: hidden;
}
header {
  background-color: #86b004;
  // background-image: url('/public/zorlakay-header.png');
  background-size: auto 55px;
  background-position: -20px 0px;
  background-repeat: no-repeat;
}
.menuNav-btn {
  background: transparent;
}

.menuNav-btn:hover,
.menuNav-btn:active,
.menuNav-btn:focus,
.menuNav-item.is-active .menuNav-btn {
  background: #6f8f00;
}

.page-viewer {
  background: transparent;
  overflow-x: hidden;
}

.logo {
  max-width: 100%;
  height: 60px;
  position: relative;
  top: -4px;
}

.zorlakay-homepage {  
  max-width: none !important;
  .hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-image: url('/public/zorlakay-hero.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 -15px;
    color: white;
    b {
      font-size: 24px;
      letter-spacing: 0.1em;
      border-right: 2px solid #86b004;
      margin-right: 30px;
      padding-right: 30px;
    }
  }
  .logo {
    display: block;
    margin: 0 auto;
  }
  .introduction {
    margin: 60px 0;
    display: flex;
    
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.4;
    }
    ul {
      list-style: none;
    }
    li {
      white-space: nowrap;
      padding: 15px;
      font-size: 16px;
      font-weight: 300;
    }
    li:first-of-type {
      padding-top: 0;
    }
    li:last-of-type {
      padding-bottom: 0;
    }
    li:not(:last-of-type) {
      border-bottom: 1px solid #eaeaea;
    }
    .fa {
      margin-right: 15px;
      font-weight: bold;
      border: 1px solid #ccc;
      height: 30px;
      line-height: 28px;
      width: 30px;
      padding-left: 1px;
      text-align: center;
    }
    a {
      display: block;
      color: #444;
      text-decoration: none !important;
    }
    a:hover {
      color: #000;
    }
    a:hover .fa {
      background: #eee;
      cursor: pointer;
    }
  }
  
  img {
    max-width: 100%;
  }
  h2 {
    display: flex;
    justify-content: space-between;
    
    span {
      font-weight: 200;
      letter-spacing: 0.05em;
      padding: 5px;
    }
    
    .slider-btn {
      margin-left: 10px;
      border: 1px solid #bbb;
      width: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 16px;
    }
    .fa-angle-right {
      padding-left: 3px;
    }
  }
  .victim {
    position: relative;
    //display: flex;
    //align-items: center;
    //margin-bottom: 30px;
    //overflow: hidden;
    //background: #ffffff;
    //border: 1px solid #dedede;
    //box-shadow: 0 25px 45px -25px rgba(0,0,0,.3);
    
    img {
      margin-right: 15px;
    }
  }
  .victim-slider {
    display: flex;
    justify-content: space-between;
  }
  .victim-photo {
    position: relative;
    color: white;
    width: 20%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .victim-photo:not(:last-of-type) {
    margin-right: 10px;
  }
  // .video:nth-child(1) .img,
  // .video:nth-child(4) .img {
  //   background-image: url('/public/victims/Abdullah Duskun.png');
  // }
  // .video:nth-child(3) .img {
  //   background-image: url('/public/victims/Lokman Akay.png');
  // }
  // .video:nth-child(2) .img,
  // .video:nth-child(5) .img {
  //   background-image: url('/public/victims/Ismail Agaya.png');
  // }
  .victim-details {
    width: 100%;
    .img {
      height: 284px;
      width: 284px;
      margin: -5px -5px 0;
      // background-position: 0 33%;
      // background-size: cover;
    }
    
    h1 {
      font-size: 16px;
      margin-bottom: 0;
      padding-left: 0;
    }
    p {
      margin: 0;
      padding: 5px 0;
      
      a {
        padding: 0 2px;
        font-size: 14px;
        border-bottom: 1px dotted;
      }
    }
    p:last-of-type {
      margin-bottom: 15px;
    }
    
    h2 {
      font-size: 16px;
      margin-top: 60px;
      padding-left: 30px;
    }
    div:last-of-type {
      text-align: center;
      margin: 30px 0 0;
      display: flex;
      justify-content: center;
      
      a {
        margin: 0 10px;
        font-weight: bold;
        font-size: 10px;
        color: #c57e57;
      }
      
      .fa {
        height: 40px;
        width: 40px;
        display: block;
        margin: 0 auto 5px;
        line-height: 38px;
        text-align: center;
        border-radius: 50%;
        color: #c57e57;
        border: 1px solid #c57e57;
        font-size: 14px;
      }
    }
    
    .fa-user-o {
      font-size: 14px;
      position: relative;
      top: -1px;
    }

    .fa-circle {
      position: relative;
      top: -2px;
      color: red;
      text-shadow: 0px 0px 3px #ff008f, 5px 1px 15px rgba(255, 0, 0, 0.5), -5px 2px 25px rgba(255, 165, 0, 0.5);
      font-size: 12px;
      margin-right: 5px;
    }
    span {
      font-weight: bold;
    }
  }
  .videos {
    display: flex;
  }
  .video:first-of-type,
  .video:last-of-type {
    opacity: 0.2;
    box-shadow: none;
    background: #f0dfd7;
  }
  .video:first-of-type {
    margin-left: -320px;
    
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to right, #fcfcfc, transparent);
    }
  }
  .video:last-of-type {
    
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to left, #fcfcfc, transparent);
    }
  }
  .video {
    position: relative;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #dedede;
    padding: 15px;
    min-width: 302px;
    margin-right: 15px;
    box-shadow: 0px 5px 10px -5px rgba(108, 108, 123, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    iframe {
      margin: -7px;
    }
    
    h3 {
      font-size: 16px;
    }
    
    .btn-action {
      margin-top: 15px;
      font-size: 10px;
      color: #c57e57;
      .fa {
        height: 40px;
        width: 40px;
        display: block;
        margin: 0 auto 5px;
        line-height: 38px;
        text-align: center;
        border-radius: 50%;
        color: #c57e57;
        border: 1px solid #c57e57;
        font-size: 14px;
      }
    }
    
  }

  .btn-lg {
    margin: 30px auto 60px;
    font-size: 16px;
    font-weight: 300;
    width: 150px;
    display: block;
    border-radius: 0px;
  }  
  
  
  
  .footer {
    margin-top: 40px;
    text-align: center;
    color: #ccc;

    img {
      margin: 0 0 15px;
      height: 50px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 15px;
    }
    li {
      display: inline-block;
      margin-right: 15px;
    }
  }  
}

.footer-collection_name {
  width: 145px;
  height: 35px;
  background-image: url(/public/zorlakay-logo.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 125px 35px;
  
  span {
    display: none;
  }
}

/* this will fix the show more filters scrollbar */
.zorlakay-homepage .multiselect {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

/* this will center the victim images */

.zorlakay-homepage .victim-details .img {
  position: relative;
  overflow: hidden;
}
  
.zorlakay-homepage .victim-details .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

// zorlakay stats
.zorlakay-stats {
  ul {
    display: flex;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    margin: 30px 0;
  }

  li {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.1em;
  }

  b {
    font-size: 50px;
    font-weight: 200;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    width: 99%;
  }

  .stats-description {
    text-align: center;
    margin-bottom: 45px;
    font-style: italic;

    a {
      border-bottom: 1px dotted #2b56c1;
      text-decoration: none !important;
    }
  }
}

.zorlakay-map {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 0 1px #dedede;
  

  .img-map {
    background-image: url('/public/zorlakay-map.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .filters {
    display: block;
    width: 265px;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  .search__filter {
    background: white;
    border: none;
    height: 265px;
    width: 265px;
    padding: 15px 15px 15px 25px;
    border-left: 1px solid #dedede;
    overflow-y: auto;
  }
  .form-group {
    margin: 0;
  }
  .search__filter > li:first-child {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    color: black;
  }
  .search__filter:not(:last-of-type) {
    border-bottom: 1px solid #dedede;
  }
}


.mapboxgl-popup-content {
  background: rgba(0, 0, 0, 0.6) !important;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 35px 5px 15px !important;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(0, 0, 0, 0.6) !important;
  margin-bottom: 8px;
}

.mapboxgl-popup-close-button {
  border-left: 1px solid #aaa !important;
  height: 30px;
}

.mapboxgl-ctrl-compass {
  display: none;
}

.map-marker {

  $size: 16px;

  display: block;
  border-radius: 50%;
  mix-blend-mode: multiply;
  opacity: 0.7;
  cursor: pointer;
  background-color: transparentize(#ff9900, 0.4);
  width: $size;
  height: $size;
  margin-top: -$size/2;
  margin-left: -$size/2;

  &:hover {
    opacity: 1;
  }
}

.map-marker-low {
  $size: 26px;
  width: $size;
  height: $size;
  margin-top: -$size/2;
  margin-left: -$size/2;
}

.map-marker-medium {
  $size: 36px;
  width: $size;
  height: $size;
  margin-top: -$size/2;
  margin-left: -$size/2;
  background-color: transparentize(#ff6600, 0.2);
}

.map-marker-high {
  $size: 46px;
  width: $size;
  height: $size;
  margin-top: -$size/2;
  margin-left: -$size/2;
  background-color: transparentize(#ff0000, 0);
}
