header,
.menuNav-btn {
  background: #86b004;
}

.menuNav-btn:hover,
.menuNav-btn:active,
.menuNav-btn:focus,
.menuNav-item.is-active .menuNav-btn {
  background: #6f8f00;
}

.zorlakay-homepage {  
  max-width: none !important;
  .hero-img {
    margin: 0 -15px;
    width: calc(100% + 30px);
    max-width: none;
  }
  .introduction {
    margin: 60px 0;
    display: flex;
    
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.4;
    }
    ul {
      list-style: none;
    }
    li {
      white-space: nowrap;
      padding: 15px;
      font-size: 16px;
      font-weight: 300;
    }
    li:not(:last-of-type) {
      border-bottom: 1px solid #eaeaea;
    }
    .fa {
      margin-right: 15px;
      color: #86b004;
    }
  }
  
  img {
    max-width: 100%;
  }
  .victim {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background: #eaeaea;
    padding: 30px;

    &:before {
      content: '<';
      left: 0;
      position: absolute;
      background: white;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 20px;
    }
    
    &:after {
      content: '>';
      right: 0;
      position: absolute;
      background: white;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 20px;
    }
    
    img {
      width: 30%;
      margin-right: 3%;
    }
    
    dl {
      margin-top: 0;
      margin-bottom: 0;
      flex: 1;
    }
  }
  .videos {
    display: flex;
  }
  .video {
    flex: 1;
    
    p {
      margin-top: 5px;
    }
  }
  
  .stats {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 30px 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    
    li {
      width: 100%;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    b {
      font-size: 30px;
    }
  }
  
  .footer {
    margin-top: 40px;
    text-align: center;
  }  
}